body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #6456ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.users {
    min-height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.players-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.players-list li {
    background-color: #988fff;
    border-radius: 10px;
    margin-block: 15px;
    margin-inline: 30px;
    font-size: 36px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 28px;
}

.start {
    font-size: 24px;
    padding-inline: 30px;
    padding-block: 15px;
    border-radius: 10px;
    background-color: #988fff;
    color: black;
    text-decoration: none;
}

.question {
    width: 75%;
    min-height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers {
    margin-top: 100px;
    width: 75%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.answers p {
    font-size: 36px;
    font-weight: 600;
}

#timer {
    position: relative;
    font-size: 26px;
    font-weight: 600;
    padding: 30px;
    border-radius: 50%;
    background-color: rgb(182, 195, 206);
    bottom: -10%;
}

.results {
    width: 70%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leader-board {
    width: 60%;
    height: auto;
}

.leader-list li {
    display: flex;
    justify-content: space-between;
}

li p {
    margin: 0;
    margin-top: 10px;
    font-size: 32px;
}

.next-question {
    font-size: 32px;
    padding-inline: 30px;
    padding-block: 15px;
    border-radius: 10px;
    background-color: #988fff;
    color: black;
    text-decoration: none;
}