<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>Title</title>
</head>
<body>
<div class="users">
    <h1>Участники</h1>
    <ul class="players-list"></ul>
    <a href="/question/1" class="start" id="start">Начать!</a>
</div>
<script>
    const start = document.getElementById('start')
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const playersList = document.querySelector(".players-list");
    const playerItems = {};

    $(document).ready(function () {
        setInterval(function () {
            $.get('/update_data', function (data) {
                for (const playerId in data) {
                    const player = data[playerId];
                    if (!playerItems[playerId]) {
                        const listItem = document.createElement("li");
                        listItem.textContent = player.nickname;

                        playersList.appendChild(listItem);

                        playerItems[playerId] = listItem;
                    } else {
                        playerItems[playerId].textContent = player.nickname;
                    }
                }
            });
        }, 1000);
    });
</script>
</body>
</html>